In [1]:
import numpy as np
import pandas as pd
from io import StringIO
import csv
import psycopg2

Auxiliary functions

In [2]:
def validate_isbn(isbn: str) -> bool:
    """Validate conditions for the string to be an ISBN"""
    return validate_isbn_10(isbn) or validate_isbn_13(isbn)

def validate_isbn_10(isbn: str) -> bool:
    """Validate conditions for the string to be an ISBN13"""
    if (len(isbn) != 10):
        return False
    
    if (any((not c.isdigit()) and c !='X' for c in isbn)):
        return False

    return True

def validate_isbn_13(isbn: str) -> bool:
    """Validate conditions for the string to be an ISBN13"""
    if (len(isbn) != 13):
        return False
    
    if (not isbn.isdigit()):
        return False

    return True

# Connection to PostgreSQL database
conn = psycopg2.connect(
    dbname='book_db',
    user='admin',
    password='admin',
    host='localhost',
    port='5432'
)

Load books csv into a dataframe

In [3]:
books = pd.read_csv(
    "BX-Books.csv",
    encoding="cp1251",
    sep=";",
    on_bad_lines="warn",
    quoting=csv.QUOTE_ALL,
    escapechar='\\',
    dtype={
        "ISBN": str,
        "Book-Title": str,
        "Book-Author": str,
        "Year-Of-Publication": int,
        "Publisher": str,
        "Image-URL-S": str,
        "Image-URL-M": str,
        "Image-URL-L": str,
    },
)

books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271379 non-null  object
 1   Book-Title           271379 non-null  object
 2   Book-Author          271377 non-null  object
 3   Year-Of-Publication  271379 non-null  int64
 4   Publisher            271377 non-null  object
 5   Image-URL-S          271379 non-null  object
 6   Image-URL-M          271379 non-null  object
 7   Image-URL-L          271379 non-null  object
dtypes: int64(1), object(7)
memory usage: 16.6+ MB

Filter only valid ISBNs

In [4]:
books = books[books['ISBN'].apply(validate_isbn)]
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270850 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 270850 non-null  object
 1   Book-Title           270850 non-null  object
 2   Book-Author          270848 non-null  object
 3   Year-Of-Publication  270850 non-null  int64
 4   Publisher            270848 non-null  object
 5   Image-URL-S          270850 non-null  object
 6   Image-URL-M          270850 non-null  object
 7   Image-URL-L          270850 non-null  object
dtypes: int64(1), object(7)
memory usage: 18.6+ MB

Nahrani dat pres copy expert  
https://medium.com/@askintamanli/fastest-methods-to-bulk-insert-a-pandas-dataframe-into-postgresql-2aa2ab6d2b24

In [5]:
sio = StringIO()
writer = csv.writer(sio)
writer.writerows(books.values)
sio.seek(0)
with conn.cursor() as c:
    c.copy_expert(
        sql="""
        COPY book (
        isbn,
        title,
        author,
        publication_year,
        publisher,
        image_url_s,
        image_url_m,
        image_url_l
        ) FROM STDIN WITH CSV""",
        file=sio
    )
    conn.commit()

Load ratings csv into a dataframe

In [6]:
ratings = pd.read_csv(
    "BX-Book-Ratings.csv",
    encoding="iso-8859-1",
    sep=";",
    on_bad_lines="warn",
    quoting=csv.QUOTE_ALL,
    dtype={
        "User-ID": int,
        "ISBN": str,
        "Book-Rating": float,
    },
)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.3+ MB

Filter invalid isbns

In [7]:
ratings = ratings[ratings['ISBN'].apply(validate_isbn)]
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1138993 entries, 0 to 1149778
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1138993 non-null  int64
 1   ISBN         1138993 non-null  object
 2   Book-Rating  1138993 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 34.8+ MB

Create a list of unique isbns of books that were rated at least once

In [8]:
rated_isbns = list(ratings["ISBN"].unique())

Query all books that were rated at least once

In [9]:
import psycopg2
db_connection_string = "postgresql://admin:admin@localhost/book_db"

def query_books_by_isbn(db_connection_string, isbn_list):
    query = """
    SELECT *
    FROM book
    WHERE isbn IN %s
    """
    
    # Convert the list of ISBNs to a tuple
    isbn_tuple = tuple(isbn_list)
    
    # Execute the query
    with psycopg2.connect(db_connection_string) as conn:
        with conn.cursor() as cur:
            cur.execute(query, (isbn_tuple,))
            result = cur.fetchall()
    
    return result

queried_books = query_books_by_isbn(db_connection_string, rated_isbns)
print(f"Queried {len(queried_books)} books")

Queried 269647 books

Dictionary to convert isbns to the id of the book in the database

In [10]:
queried_books[0]

# used to convert isbns into ids (for db indexing)
isbn_2_id = {}

for book_entry in queried_books:
    # book_entry is a tuple (id, isbn, title ...)
    book_id = book_entry[0]
    book_isbn = book_entry[1]
    isbn_2_id[book_isbn] = book_id

In [11]:
ratings_to_db = ratings.copy(deep=True)
ratings_to_db = ratings_to_db.drop('User-ID', axis=1)
ratings_to_db['ISBN'] = ratings_to_db['ISBN'].apply(lambda x: isbn_2_id.get(x,None))
ratings_to_db = ratings_to_db.dropna()
ratings_to_db = ratings_to_db.rename(columns={'ISBN': 'book_id'})
ratings_to_db["book_id"] = ratings_to_db["book_id"].astype("Int32")
ratings_to_db

         book_id  Book-Rating
0        1026061          0.0
1        1248516          5.0
2        1034144          0.0
3        1269485          3.0
4        1269486          6.0
...          ...          ...
1149774  1092563          0.0
1149775  1092564          9.0
1149776  1075580          0.0
1149777  1039060         10.0
1149778  1079849         10.0

[1030491 rows x 2 columns]

In [12]:
sio = StringIO()
writer = csv.writer(sio)
writer.writerows(ratings_to_db.values)
sio.seek(0)
with conn.cursor() as c:
    c.copy_expert(
        sql="""
        COPY book_rating (
        book_id,
        rating
        ) FROM STDIN WITH CSV""",
        file=sio
    )
    conn.commit()